//
// Base
//
// @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap'); // 不知為何部會載入，直接用 link 替代
@import './support/support';

//
// Modules
//
@import './variables';
@import './base';
@import './content';
// @import "variables.scss";
@import './typography';
@import './utilities/utilities';

// Portal Start
$base-line-height: 1 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
// Portal end
@import 'portal.scss';

// TODO: new
#__next {
  height: 100%; // or min-height
}

#__nextLayout {
  position: fixed;
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  animation-name: openLayout;
  animation-delay: 200ms;
  animation-duration: 1800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes openLayout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c5 {
  -webkit-animation: rotate3 1s 2;
  animation: rotate3 1s 2;
  background-color: black;
  border: 20px solid white;
  border-radius: 50%;
}
@keyframes rotate3 {
  0% {
    transform: rotateX(10deg);
  }
  50% {
    transform: rotateX(50deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
.circle {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin: 50px;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  -webkit-animation: rotate 2s 2;
  animation: rotate 2s 2;
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

hr {
  height: '1px';
}

// Components

// DendronLayout

// from from packages/dendron-next-server/assets/themes/light-theme.less
$layout-header-background: #f5f7f9; // @layout-header-background
$text-color: 'rgba(0,0,0,.85)'; // @text-color

.site-layout-sidebar.ant-layout {
  background-color: $layout-header-background;
  .ant-menu.ant-menu-inline {
    background-color: $layout-header-background;
  }
}

// DendronTreeMenu

.dendron-tree-menu.ant-menu {
  .ant-menu-submenu-title {
    [data-expandedicon='true'] {
      position: absolute;
      top: 0;
      right: 3px;
      height: 100%;
      margin: 0;
      padding: 10px;
      display: flex;
      align-items: center;
    }
  }

  .ant-menu-item-selected {
    color: rgba(0, 0, 0, 0.85);
  }

  &.ant-menu-inline {
    .ant-menu-title-content:hover {
      text-decoration: underline;
    }
    [data-expandedicon='true']:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &.ant-menu-inline-collapsed {
    [data-expandedicon='true'] {
      // remove submenu icon in collapsed Menu for first level
      display: none;
    }
  }

  .ant-menu-submenu {
    > .ant-menu-submenu-title:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 3px solid #b18c67; // antd's @border-color-split
      transform: scaleY(0.0001);
      opacity: 0;
      content: '';
      pointer-events: none; // makes open/close arrows touch-area bigger by giving it "space" to the right from this after element
    }
  }

  .ant-menu-submenu.dendron-ant-menu-submenu-selected {
    > .ant-menu-submenu-title {
      background-color: #e1dcd6;// antd's @menu-item-active-bg with ich @primary-1
    }

    > .ant-menu-submenu-title:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

// override ant design toc
.dendron-toc.ant-anchor-wrapper {
  .ant-anchor-link-title {
    white-space: normal;
  }
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-transform: capitalize;
  }
}

.main-content h3 {
  border-left: 15px solid #775e3b;
  padding-left: 5px;
  margin-bottom: 12px;
  font-weight: 800;
}

.main-content h2 {
  font-weight: 600;
}

.main-content img {
  box-shadow: 0px 0px 3px 1px #aaa;
  display: block;
  border-radius: 6px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
}

p code,
li code {
  background-color: #f5f6fa;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  margin: 0 2px;
  color: indianred;
  word-break: break-all;
}

pre > code[class*='language-'] {
  background: #f5f6fa;
  border-radius: 3px;
  padding: 0 !important;
  margin: 0 !important;
}
pre[class*='language-'] {
  margin: 10px 10px 10px 0 !important;
}

hr {
  border: 0;
  border-bottom: 2px solid #ccc;
}
