//
// Base
//
@import "./support/support";

//
// Modules
//
@import "./variables";
@import "./base";
@import "./content";
// @import "variables.scss";
@import "./typography";
@import "./utilities/utilities";

// Portal Start
$base-line-height: 1 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
// Portal end
@import "portal.scss";

// TODO: new
#__next {
  height: 100%; // or min-height
}

hr {
  height: "1px";
}

// Components

// DendronLayout

// from from packages/dendron-next-server/assets/themes/light-theme.less
$layout-header-background: #f5f7f9; // @layout-header-background
$text-color: "rgba(0,0,0,.85)"; // @text-color

.site-layout-sidebar.ant-layout {
  background-color: $layout-header-background;
  .ant-menu.ant-menu-inline {
    background-color: $layout-header-background;
  }
}

// DendronTreeMenu

.dendron-tree-menu.ant-menu {
  .ant-menu-submenu-title {
    [data-expandedicon="true"] {
      position: absolute;
      top: 0;
      right: 3px;
      height: 100%;
      margin: 0;
      padding: 10px;
      display: flex;
      align-items: center;
    }
  }

  .ant-menu-item-selected {
    color: rgba(0, 0, 0, 0.85);
  }

  &.ant-menu-inline {
    .ant-menu-title-content:hover {
      text-decoration: underline;
    }
    [data-expandedicon="true"]:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &.ant-menu-inline-collapsed {
    [data-expandedicon="true"] {
      // remove submenu icon in collapsed Menu for first level
      display: none;
    }
  }

  .ant-menu-submenu {
    > .ant-menu-submenu-title:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 3px solid #b18c67; // antd's @border-color-split
      transform: scaleY(0.0001);
      opacity: 0;
      content: "";
      pointer-events: none; // makes open/close arrows touch-area bigger by giving it "space" to the right from this after element
    }
  }

  .ant-menu-submenu.dendron-ant-menu-submenu-selected {
    > .ant-menu-submenu-title {
      background-color: rgb(
        230,
        240,
        225
      ); // antd's @menu-item-active-bg with ich @primary-1
    }

    > .ant-menu-submenu-title:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

// override ant design toc
.dendron-toc.ant-anchor-wrapper {
  .ant-anchor-link-title {
    white-space: normal;
  }
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-transform: capitalize;
  }
}

.main-content h3 {
  border-left: 15px solid #775e3b;
  padding-left: 5px;
  margin-bottom: 12px;
  font-weight: 800;
}

.main-content h2 {
  font-weight: 600;
}

.main-content img {
  border: 5px solid black;
}

p code,
li code {
  background-color: #f5f6fa;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  margin: 0 2px;
  color: indianred;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f6fa;
  border-radius: 3px;
  padding: 0px;
}
